@model ArticleCollectionModel

@{
    ViewBag.Title = "Articles";
    Layout = "_Layout";
}

<h2>Articles</h2>

<div>
    <a class="btn btn-warning" asp-action="Aggregate">Aggregate</a>
</div>

<div class="row">
    @foreach (var article in Model.Articles)
    {
        <partial name="ArticlePreview" model="article" />
    }
</div>
@* <pagination page-info="@Model.PageInfo" page-action="index"/> *@
<pagination page-action="index" page-info="@Model.PageInfo"></pagination>